* {
  font-family: Tahoma;
}

div {
  box-sizing: border-box;
}

h5 {
  text-align: center;
  font-family: cursive;
}

ul {
  margin: 0 0 0 0 !important;
}

.padding {
  padding: 100px;
}

.hover {
  cursor: pointer;
}

.invisible {
  display: none !important;
}

.whos-online-container {
  position: fixed;
  padding: 0px 20px 20px 20px;
  right: 15px;
  top: 15px;
  width: 90px;
  background-color: #fff;
  border-radius: 5px;
}

.online-button {
  height: 50px;
  width: 50px;
  color: #fff;
  border-radius: 25px;
  float: right;
  margin-top: 10px;
}

.letters {
  background-color: #DCDCDC;
  font-size: 24px;
  font-weight: normal;
  font-family: Helvetica !important;
  padding: 8px 0px 0px 14px;
}

.name {
  background-color: #9AFF81;
  text-align: center;
  width: 90px;
  font-size: 18px;
  font-weight: normal;
  padding: 0px 0px 0px 0px;
}

.message-font {
  display: block;
  text-align: center;
  font-size: 0.6em;
  font-weight: normal;
}

.plus {
  background-color: #72FF17;
  font-size: 24px;
  font-weight: bold;
  padding: 8px 0px 0px 15px;
}

.minus {
  background-color: #FF6C6C;
  font-size: 40px;
  padding: 0px 0px 0px 18px;
}

.user-card {
  padding: 10px 10px 10px 10px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.user-card:hover {
  background-color: #D7FFD4;
  cursor: pointer;
  border: 1px solid #72FF17;
}


.connection-box {
  width: 315px;
  padding: 0px 15px 45px 15px;
}

  /* ************ MESSAGE STYLINGS *********** */

.all-message-container {
  position: fixed;
  padding: 15px 15px 0px 0px;
  left: 0px;
  bottom: 0px;
  width: calc(96% - 75px);
}

.message-container {
  display: inline-block;
  margin-left: 10px;
  bottom: 15px;
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-box-shadow: 0px 0px 14px 5px rgba(220,220,220,1);
  -moz-box-shadow: 0px 0px 14px 5px rgba(220,220,220,1);
  box-shadow: 0px 0px 14px 5px rgba(220,220,220,1);
}

.message-header {
  position: relative;
  background-color: #DCDCDC;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  list-style: none;
  font-size: 0.8em;
  font-family: arial;
  font-weight: bold;
  color: #fff;
  width: 200px !important;
  padding: 5px;
  text-align: center;
}

.message-header.active {
  background-color: #5AD7FF;
}

.message-box {
  position: relative;
  background-color: white;
  height: 230px;
  padding: 5px;
  overflow-y: scroll;
}


.message {
  position: relative;
  list-style: none;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  max-width: 140px;
  margin-top: 5px;
  font-size: 0.8em;
  word-break: break-all;
  clear: both;
}

.message-other {
  background-color: #DBDADB;
  float: left;
  color: black;
}

.message-self {
  background-color: #5AD7FF;
  float: right;
  color: white;
}

.input-box form {
  margin-top: 5px;
}

.input-box input {
  position: relative;
  border-top: 1px solid #DCDCDC;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-top: -10px;
  height: 25px;
  width: 196px;
}

.message-box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #fff;
}

.message-box::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  cursor: pointer;
}

.message-box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  background-color: #5AD7FF;
}
